@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.box-controls .nav-link{ padding: 0 1rem;}
li,ul{list-style: none; padding: 0;}
.content-header .breadcrumb .breadcrumb-item a {
    color: #CF485A;
}
body{ background: #F5F4FE; font-family: 'Poppins', sans-serif; font-weight: 400; color: #000;}
.theme-primary.fixed .main-header {
    background: #F5F4FE;
}
.theme-primary .btn-primary{background-color: #C6263C; border-color: #C6263C;}
.form-control {
   
    border: 1px solid #ced4da;
    padding: 0.675rem 1.25rem;
    
}.form-group label {
    font-weight: 400;
}

.theme-primary [type=checkbox]:checked + label:before {
    border-right: 2px solid #c6263c;
    border-bottom: 2px solid #c6263c;
}
[type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after,[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after{ border-color: #ced4da;}
.theme-primary [type=radio]:checked + label:after {
    border: 2px solid #c6263c;
    background-color: #c6263c;
    z-index: 0;
}
.content-header .breadcrumb{ color: #6c757d;;}
.bottom_menu li {
    display: inline-block;
    margin-right: 30px;
    text-transform: capitalize;
}
.bottom_menu {
    width: 100%;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}.bottom_menu ul {
    margin: 0;
}

.box{ margin-bottom: 10px;}
.enquery_info span{ font-weight: 600;}
textarea.form-control{height: 150px;}
.custom-select {
    height: 45px;
}
.enent-table td{padding: 5px !important;}
.your_choise{ background-color: #eee; padding: 5px 20px; border-radius: 50px; color: #CF485A; font-weight: 500;}
.your_choise span{ color: #666;}
 .table > tbody > tr td{word-break: break-word;}
 .Login+ .App {
    display: none;
}.Login_inner {
    width: 400px;
    margin: 100px auto;
    background: #fff;
    padding: 20px;
}